<div class="footer-container">
  <footer class="footer-text">
    <div class="row">
      <div class="medium-12 columns text-center">
        <h6>Via Della Pace NYC - 48 E 7th St, New York, NY 10003  -  +614 332 093  -  hello@attica.net</h6>
        <span>© Copyright 2018 - All Rights Reserved</span>
      </div>
    </div>
  </footer>
</div>