<!doctype html>
<html class="no-js" lang="en">
  <head>
    {{>head}}
  </head>
  <body>
    {{>nav}}
    <div class="main-container">
      <a id="menu" class="in-page-link"></a>
      <section class="divider-background">
        <div class="background-image-holder parallax-background">
          <div class="overlay background-dark-grey"></div>
          <img alt="Divider Background" class="background-image" src="https://lh3.googleusercontent.com/Z6T5X2J_pG6CdDll-c8bio5ufb9h7xyzU4nLNrgyUO9PPPNQjuWcG4lJtQFLOOvFCirxNgRAzBpEykS0UcpOXpkk">
        </div>
        <div class="row">
          <div class="medium-12 columns text-center">
            <div class="headline-style-2">
              <h3 class="text-white">about via della pace</h3>
              <span class="sub-title text-white">fun, fresh, foraged&nbsp;</span>
              <div class="line"></div>
            </div>
          </div>
        </div>
      </section>
      <section class="no-pad">
        <div class="photo-container medium-5 right-align divider-background">
          <div class="background-image-holder parallax-background">
            <img class="background-image" src="https://lh3.googleusercontent.com/8uoJzyWIedJ2OjJoaTm3rXy7TPk3iaVVtyMr4wqlWcH5uuUcLNbUvlCDtGSWEfT46J6azuuOVet73suLoVkTFo4zuQ">
          </div>
        </div>
        <div class="row">
          <div class="medium-6 columns">
            <h3>Test</h3>
            <span class="sub-title sub-title">Test</span>
            <hr>
            <p class="text-left">
              Test
            </p>
            <img alt="Signautre" src="img/signature.png" class="medium-4 small-6">
          </div>
        </div>
      </section>
    </div>
    {{>footer}}
    {{>imports}}
  </body>
</html>