<!doctype html>
<html class="no-js" lang="en">
  <head>
    {{>head}}
  </head>
  <body>
    {{>nav}}
    <div class="main-container">
      <a id="menu" class="in-page-link"></a>
      <section class="divider-background">
        <div class="background-image-holder parallax-background">
          <div class="overlay background-dark-grey"></div>
          <img alt="Divider Background" class="background-image" src="https://lh3.googleusercontent.com/Z6T5X2J_pG6CdDll-c8bio5ufb9h7xyzU4nLNrgyUO9PPPNQjuWcG4lJtQFLOOvFCirxNgRAzBpEykS0UcpOXpkk">
        </div>
        <div class="row">
          <div class="medium-12 columns text-center">
            <div class="headline-style-2">
              <h3 class="text-white">about via della pace</h3>
              <span class="sub-title text-white">fun, fresh, foraged&nbsp;</span>
              <div class="line"></div>
            </div>
          </div>
        </div>
      </section>
      <section class="no-pad">
        <div class="photo-container medium-5 right-align divider-background">
          <div class="background-image-holder parallax-background">
            <img class="background-image" src="https://lh3.googleusercontent.com/8uoJzyWIedJ2OjJoaTm3rXy7TPk3iaVVtyMr4wqlWcH5uuUcLNbUvlCDtGSWEfT46J6azuuOVet73suLoVkTFo4zuQ=s0">
          </div>
        </div>
        <div class="row">
          <div class="medium-6 columns">
            <h3>From New York City to Rome</h3>
            <hr>
            <p class="text-left">
              Via Della Pace lays in the very center of Rome, just minutes walk from Piazza Navona. Its wonderful little church called “Chiesa della Pace” features paintings by Raffaello that are known all over the world. The name was chosen by one of the owners; he went to school in the area and stopped every morning for a cappuccino in the city’s oldest and most renowned cafe’, ”Bar della Pace”. Walking into our New York restaurant you can still get a feel of those friendly conversations full of gestures; maybe over an Espresso or a Negroni cocktail.
            </p>
          </div>
        </div>
      </section>
      <section class="no-pad">
        <div class="photo-container medium-5 left-align divider-background">
          <div class="background-image-holder parallax-background">
            <img class="background-image" alt="{{static.restaurant_name}}" src="img/side2.jpg">
          </div>
        </div>

        <div class="row">
          <div class="medium-6 columns right no-left-pad">
            <h3>A dining experience like no other, Via Della Pace offers a bold &amp; refreshing take on traditional Italian cuisine.</h3>
            <hr>
            <p class="medium-6 columns no-left-pad">
              Via della Pace is known not only for its unique and reasonably priced Italian cuisine, but also for its extensive wine list and exclusive atmosphere. Truly one of the Lower East Side’s hidden gems, Via della Pace offers great music, authentic food, and a reliable and friendly staff.  Family owned, its menu features many signature dishes such as the “Fettuccine Mama Munda,” a recipe passed through four generations to the restaurant’s owner. Its original dishes are complemented by its freshly made Sangria and innovative cocktail list.
            </p>
            <p class="medium-6 columns no-right-pad">
              With the restaurant's floor set three feet above street level, its elegant floor to ceiling windows allow guests to look out at one of New York's trendiest neighborhoods while enjoying their meal. Additional seating can be found in our cozy party room which provides guests with a more personal dining experience, or in our extremely popular outdoor section that opens during the summer months. Via Della Pace's accomadating nature makes it the perfect venue for all occasions. For a family dinner, date, or simply drinks with friends, Via Della Pace suits all needs.
            </p>
          </div>
        </div>
      </section>
    </div>
    {{>footer}}
    {{>imports}}
  </body>
</html>