<!doctype html>
<html class="no-js" lang="en">
  <head>
    {{>head}}
  </head>
  <body>
    {{>nav}}
    <div class="main-container">
      <!-- HOME -->
      <a id="home" class="in-page-link"></a>
      <section class="hero-slider parallax-header">
        <ul class="slides">
          <li>
            <div class="background-image-holder parallax-background">
              <div class="overlay background-dark-grey"></div>
              <img alt="Slide Background" class="background-image" src="img/hero1.jpg">
            </div>
            
            <div class="video-wrapper">
              <video autoplay="" muted="" loop="">
                <source src="{{ static.header_video }}" type="video/mp4">
              </video>
              <div class="overlay background-dark-grey"></div>
            </div>

            <div class="row slide-content parallax-title">
              <div class="medium-12 columns text-center">
                <div class="headline-style-1 parallax-title">
                  <h1 class="text-white">{{ static.headline }}</h1>
                  <span class="sub-title text-white">{{ static.tagline }}</span>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </section>

      <!-- ABOUT -->
      <a id="about" class="in-page-link"></a>
      <section class="no-pad">
        <div class="photo-container medium-5 right-align divider-background">
          <div class="background-image-holder parallax-background">
            <img class="background-image" alt="{{static.restaurant_name}}" src="/images/caprese.jpg">
          </div>
        </div>
        <div class="row">
          <div class="medium-6 columns">
            <h3>{{ static.story_title }}</h3>
            <span class="sub-title sub-title">{{ static.story_tagline }}</span>
            <hr>
            <p class="text-left">
              {{ static.story_description }}
            </p>
            <img alt="Signautre" src="img/signature.png" class="medium-4 small-6">
          </div>
        </div>
      </section>

      <!-- MENUS -->
      <a id="menu" class="in-page-link"></a>
      <section class="divider-background">
        <div class="background-image-holder parallax-background">
          <div class="overlay background-dark-grey"></div>
          <img alt="Divider Background" class="background-image" src="/images/pizza2.jpg">
        </div>
        <div class="row">
          <div class="medium-12 columns text-center">
            <div class="headline-style-2">
              <h3 class="text-white">our menu</h3>
              <span class="sub-title text-white">fun, fresh, foraged&nbsp;</span>
              <div class="line"></div>
            </div>
          </div>
        </div>
      </section>

      <section class="menu menu-3">
        <div class="tabbed-menu offix">
          <div class="row">
            <div class="medium-12 medium-centered columns text-center">
              <ul class="menu-filters">
                <li data-menu-type="entree" class="active"><span>Entree</span></li>
                <li data-menu-type="main"><span>Main</span></li>
                <li data-menu-type="dessert"><span>Dessert</span></li>
              </ul>
            </div>
          </div>
    
          <div class="row">
            <div class="medium-9 medium-centered columns text-center">
              <div data-menu-type="entree" class="narrow-menu active">
                <div class="menu-item">
                  <span class="title">Baked Gnocchi Tart</span>
                  <span class="price">14</span>
                  <p>
                    Roasted Eggplant, tomato, spinach, feta, olives with red wine jus
                    <span class="dietary sub-title">V</span>
                  </p>                    
                </div><!--end of individual menu item-->
          
                <div class="menu-item">
                  <span class="title">Slow Braised Lamb</span>
                  <span class="price">16</span>
                  <p>
                    Chimmi churri, radicchio, pomegranate, macadamia with a balsamic reduction
                    <span class="dietary sub-title">G</span>
                  </p>
                </div><!--end of individual menu item-->
          
                <div class="menu-item">
                  <span class="title">Pork Belly and Chorizo</span>
                  <span class="price">16</span>
                  <p>
                    Pimientos, chorizo, apple cider cubes with cabbage and vinegar
                  </p>
                </div><!--end of individual menu item-->
          
                <div class="menu-item">
                  <span class="title">Chevre Chaud</span>
                  <span class="price">18</span>
                  <p>
                    Ash goats cheese, toast, honey, rosemary, cherry tomatoes, rocket
                    <span class="dietary sub-title">V</span>
                  </p>
                </div><!--end of individual menu item-->
          
                <div class="menu-item">
                  <span class="title">Freshly Caught Scallops</span>
                  <span class="price">18</span>
                  <p>
                    Cauliflower, green peas, jamon with dehydrated horseraddish
                    <span class="dietary sub-title">V</span>
                    <span class="dietary sub-title">G</span>
                  </p>
                </div><!--end of individual menu item-->
          
                <div class="menu-item">
                  <span class="title">House-made Brioche Burger</span>
                  <span class="price">20</span>
                  <p>
                    lightly toasted brioche bun with pickles, mayo and our famous shoestring fried.
                  </p>
                </div><!--end of individual menu item-->
              </div>
      
              <div data-menu-type="main" class="narrow-menu">
                <div class="menu-item">
                  <span class="title">Serrano Risotto</span>
                  <span class="price">32</span>
                  <p>
                    Jamon serrano, parmesan, red cabbage, coriander, balsamic glazed mushrooms
                    <span class="dietary sub-title">G</span>
                  </p>
                </div><!--end of individual menu item-->
                  
                <div class="menu-item">
                  <span class="title">Poached Chicken Breast</span>
                  <span class="price">33.5</span>
                  <p>
                    Crayfish bisque, chilli &amp; tarragon baby corn, sweet potato crisps
                  </p>
                </div><!--end of individual menu item-->
              
                <div class="menu-item">
                  <span class="title">Baked Gnocchi Tart</span>
                  <span class="price">14</span>
                  <p>
                    Roasted Eggplant, tomato, spinach, feta, olives with red wine jus
                    <span class="dietary sub-title">V</span>
                  </p>                    
                </div><!--end of individual menu item-->
        
                <div class="menu-item">
                  <span class="title">Slow Braised Lamb</span>
                  <span class="price">16</span>
                  <p>
                    Chimmi churri, radicchio, pomegranate, macadamia with a balsamic reduction
                    <span class="dietary sub-title">G</span>
                  </p>
                </div><!--end of individual menu item-->
        
                <div class="menu-item">
                  <span class="title">Pork Belly and Chorizo</span>
                  <span class="price">16</span>
                  <p>
                    Pimientos, chorizo, apple cider cubes with cabbage and vinegar
                  </p>
                </div><!--end of individual menu item-->
        
                <div class="menu-item">
                  <span class="title">Chevre Chaud</span>
                  <span class="price">18</span>
                  <p>
                    Ash goats cheese, toast, honey, rosemary, cherry tomatoes, rocket
                    <span class="dietary sub-title">V</span>
                  </p>
                </div><!--end of individual menu item-->
        
                <div class="menu-item">
                  <span class="title">Freshly Caught Scallops</span>
                  <span class="price">18</span>
                  <p>
                    Cauliflower, green peas, jamon with dehydrated horseraddish
                    <span class="dietary sub-title">V</span>
                    <span class="dietary sub-title">G</span>
                  </p>
                </div><!--end of individual menu item-->
        
                <div class="menu-item">
                  <span class="title">House-made Brioche Burger</span>
                  <span class="price">20</span>
                  <p>
                    Lightly toasted brioche bun with pickles, mayo and our famous shoestring fried.
                  </p>
                </div><!--end of individual menu item-->
              </div>
      
              <div data-menu-type="dessert" class="narrow-menu">
                <div class="menu-item">
                  <span class="title">Poppy Seed CREME BRULÉE</span>
                  <span class="price">14</span>
                  <p>
                    Lemon poppy seed cake with apple and mint garnish
                  </p>
                </div><!--end of individual menu item-->
        
                <div class="menu-item">
                  <span class="title">Pineapple Tart</span>
                  <span class="price">15</span>
                  <p>
                    Blackberry parfait, lemongrass, ginger &amp; coconut sorbet 
                  </p>
                </div><!--end of individual menu item-->
        
                <div class="menu-item">
                  <span class="title">Cheese Selection Platter</span>
                  <span class="price">17</span>
                  <p>
                    Black board selection with fruit bread, baguette and Sedgley &amp; Sons Quince paste
                  </p>
                </div><!--end of individual menu item-->
        
                <div class="menu-item">
                  <span class="title">Eskimo Pie</span>
                  <span class="price">17</span>
                  <p>
                    Layered chocolate hazelnut praline ice cream &amp; Pedro Ximinez fig ice cream.
                  </p>
                </div><!--end of individual menu item-->
        
                <div class="menu-item">
                  <span class="title">Lemon &amp; Passionfruit Parfait</span>
                  <span class="price">14</span>
                  <p>
                    Lemon curd, fresh passionfruit, clotted cream, lavender crumb 
                  </p>
                </div><!--end of individual menu item-->
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- PRESS -->
      <a id="press" class="in-page-link"></a>
      <section class="divider-background"><!--begin video divider-->
        <div class="background-image-holder parallax-background">
          <div class="overlay background-dark-grey"></div>
          <img alt="Divider Background" class="background-image" src="img/hero3.jpg">
        </div>
    
        <div class="video-wrapper">
          <video autoplay="" muted="" loop="">
            <source src="video/video.webm" type="video/webm">
            <source src="video/video.mp4" type="video/mp4">
            <source src="video/video.ogv" type="video/ogg"> 
          </video>
          <div class="overlay background-dark-grey"></div>
        </div>
        
        <div class="row">
          <div class="medium-12 columns text-center">
            <div class="headline-style-2">
              <h3 class="text-white">press &amp; accolades</h3>
              <span class="sub-title text-white">{{static.restaurant_name}} in the Press</span>
              <div class="line"></div>
            </div>
          </div>
        </div>
      </section>

      <section class="no-pad">
        <div class="photo-container medium-5 left-align divider-background">
          <div class="background-image-holder parallax-background">
            <img class="background-image" alt="{{static.restaurant_name}}" src="/images/pasta.jpg">
          </div>
        </div>

        <div class="row">
          <div class="medium-6 columns right no-left-pad">
            <h3>A dining experience like no other, Via Della Pace offers a bold &amp; refreshing take on traditional Italian cuisine.</h3>
            <hr>
            <p class="medium-6 columns no-left-pad">
              Via della Pace is known not only for its unique and reasonably priced Italian cuisine, but also for its extensive wine list and exclusive atmosphere. Truly one of the Lower East Side’s hidden gems, Via della Pace offers great music, authentic food, and a reliable and friendly staff.  Family owned, its menu features many signature dishes such as the “Fettuccine Mama Munda,” a recipe passed through four generations to the restaurant’s owner. Its original dishes are complemented by its freshly made Sangria and innovative cocktail list.
            </p>
            <p class="medium-6 columns no-right-pad">
              With the restaurant's floor set three feet above street level, its elegant floor to ceiling windows allow guests to look out at one of New York's trendiest neighborhoods while enjoying their meal. Additional seating can be found in our cozy party room which provides guests with a more personal dining experience, or in our extremely popular outdoor section that opens during the summer months. Via Della Pace's accomadating nature makes it the perfect venue for all occasions. For a family dinner, date, or simply drinks with friends, Via Della Pace suits all needs.
            </p>
          </div>
        </div>
      </section>

      <!-- REVIEWS -->
      <section class="background-mid-grey pad-small reviews">
        <div class="row">
          <div class="medium-4 columns text-center">
            <h4>Anita Vinje</h4>
            <span class="sub-title block push-small">Little slice of decadence</span>
            <i class="icon icon_star"></i>
            <i class="icon icon_star"></i>
            <i class="icon icon_star"></i>
            <i class="icon icon_star"></i>
            <i class="icon icon_star"></i>
          </div>
      
          <div class="medium-4 columns text-center">
            <h4>Karen Kelley</h4>
            <span class="sub-title block push-small">Great menu selection and wines</span>
            <i class="icon icon_star"></i>
            <i class="icon icon_star"></i>
            <i class="icon icon_star"></i>
            <i class="icon icon_star"></i>
            <i class="icon icon_star"></i>
          </div>
      
          <div class="medium-4 columns text-center">
            <h4>Scott Christensen</h4>
            <span class="sub-title block push-small">Lasagna and carbonara were to die for</span>
            <i class="icon icon_star"></i>
            <i class="icon icon_star"></i>
            <i class="icon icon_star"></i>
            <i class="icon icon_star"></i>
            <i class="icon icon_star"></i>
          </div>
        </div>
      </section>

      <!-- GALLERY -->
      <a id="gallery" class="in-page-link"></a>
      <section class="gallery-slider">
        <ul class="slides">
          <li class="background-paralla"><img alt="Slide Image" class="background-image" src="/images/community.jpg"></li>
          <li class="background-paralla"><img alt="Slide Image" class="background-image" src="/images/beer.jpg"></li>
          <li class="background-paralla"><img alt="Slide Image" class="background-image" src="/images/table.jpg"></li>
        </ul>
      </section>

      <!-- SOCIAL FEED -->
      <section class="instagram-feed no-pad">
        <div class="row">
          <div class="medium-12 columns text-center">
            <span class="sub-title">Insta <i class="icon social_instagram"></i> Gram</span>
          </div>
        </div>
        <div class="instafeed" data-user-name="viadellapace">
          <ul></ul>
        </div>
      </section>

      <!-- RESERVATIONS -->
      <a id="reservations" class="in-page-link"></a>
      <section class="reservations background-mid-grey">
        <div class="row">
          <div class="medium-12 columns text-center">
            <div class="page-title">
              <h3>Reservations</h3>
              <span class="sub-title">Powered by OpenTable</span>
            </div>
          </div>
        </div>
      
        <div class="row">
          <div class="medium-12 columns text-center">
            <p>
              Bookings are essential, especially on weekends or when dining with large groups.<br class="hide-for-mobile">
              You may also book online using Open Table
            </p>
          </div>
        </div>
        <br><br>
        <div class="row">
          <div class="medium-12 medium-centered columns text-center">
            <script type='text/javascript' src='//www.opentable.com/widget/reservation/loader?rid=59275&domain=com&type=standard&theme=standard&lang=en-US&overlay=false&iframe=true'></script>
          </div>
        </div>
      </section>

      <!-- CONTACT US -->
      <a id="contact" class="in-page-link"></a>
      <section class="contact contact-3">
        <div class="map-holder">
          <div class="overlay background-dark-grey"></div>
          <iframe src="{{ static.googleMapsURL }}" data-variant-editable="variant-editable-1404887489362-2" class="variant-editable-1404887489362-2"></iframe>
        </div>
      
        <div class="row">
          <div class="medium-4 medium-centered columns text-center">
            <img alt="logo" src="img/logo.png" class="small-4 push-large"> 
            <div>
              <a href="{{static.twitter}}"><i class="icon social_twitter"></i></a>
              <a href="{{static.facebook}}"><i class="icon social_facebook"></i></a>
              <a href="{{static.instagram}}"><i class="icon social_instagram"></i></a>
            </div>
            <p class="text-white">
              {{static.contact_statement}}
            </p>
            <a href="mailto:{{static.email}}" class="large-link text-white">{{static.email}}</a><br>
            <a href="#" class="large-link text-white">{{static.phone}}</a>
          </div>
        </div>
      </section>
    </div><!--end of main container-->

    {{>footer}}
    {{>imports}}
  </body>
</html>
